<% -include("./partials/header.ejs") %>

<h1>User Password Reset Page</h1>

<form action="/user/change-password/<%=user._id %>" method="post">
  <input type="password" name="oldpassword" placeholder="old-password"> <br> <br>
  <input type="password" name="newpassword" placeholder="new-password"> <br> <br>
  <button>Reset Password</button>
</form>

<% -include("./partials/footer.ejs") %>