<% -include("./partials/header.ejs") %>

<h1>Home Page</h1>

<p>Already have an account  <a href="/user/signin">Sign in</a></p> 
<p>Don't have an account <a href="/user/signup">Create new one</a></p>
<% -include("./partials/footer.ejs") %>